<html>
<head>
<title> Login </title>
 <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<p>Welcome to usersystem_mvc index page. To check functionality of this piece of software, please <a href="/user/register">create account</a> and after that <a href="/user/">login</a> and enjoy!</p>
</body>
</html>
